// app wide variables

$text__color--light: #f9f9f9;

$app__font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$button--border: 1px solid #ccc;
$button__background--color: #eee;
$button__background--color__hover: #ccc;

$button__text--color: #353535;

$input--border: 1px solid #a1a1a1;
$input__text--color: black;
$input__background--color: #ccc;

$input__focus--border: 1px solid #34b3ff;

$color__grey-light: #dcdcdc;

$notify__error--color: #bd362f;
$notify__success--color: #51a351;
$notify__info--color: #2f96b4;
