* {
    box-sizing: border-box;
}

html,
body {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfc;

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border: 1px solid white;
        background: #aaa;
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.center {
    align-items: center;
    justify-content: center;
}

.mw {
    width: 100%;
    max-width: 100%;
}

.mh {
    height: 100%;
    max-height: 100%;
}
